@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 20;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: #D3DBF6;
  vertical-align: baseline;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  font-family: 'Noto Sans TC';
  line-height: 20px;
  width: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0px auto;
}

.null {
  opacity: 0;
}

/* .input {
  width: 100px;
  background: #D3DBF6;
  border-radius: 10px;
  border-width: 0px;
  border-color: #D3DBF6;
} */

/* .time {
  padding: 5px 12px;
  margin: 10px 5px;
  width: 150px;
  background: #D3DBF6;
  border-radius: 10px;
  border-width: 0px;
  border-color: #D3DBF6;
} */

.table {
  overflow: hidden;
}

/* .table1 {
  width: 38%;
  height: 450px;
  text-align: left;
  margin: 0px 40px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

.table2 {
  width: 45%;
  height: 450px;
  text-align: left;
  margin: 0px 40px;
  float: left;
  font-size: 20px;
  line-height: 20px;
} */

.button {
  clear: both;
}

.send, .stop {
  width: 200px;
  font-family: 'Noto Sans TC';
  font-weight: bold;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #121528;
  background-color: #D3DBF6;
  border: none;
  border-radius: 10px;
}

.send:hover {
  background-color: #6F88C4
}

.send:active {
  background-color: #6F88C4;
  transform: translateY(4px);
}

.stop:hover {
  background-color: #6F88C4
}

.stop:active {
  background-color: #6F88C4;
  transform: translateY(4px);
}

input[type=number] {
  padding: 5px 12px;
  margin: 10px 5px;
  box-sizing: border-box;
}

input[type=number]:focus {
  border: 3px solid #121528;
}

/* table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 15px 0;
  margin-top: 30px;
} */

/* th {
  background-color: #96A5FF;
  color: #FFFFFF
} */

/* table, table th, .table td {
  font-size: 0.95em;
  text-align: center;
  padding: 4px;
  border-collapse: collapse
}

table tr:nth-child(odd) {
  background-color: #6F88C4;
}

.table tr:nth-child(even) {
  background-color: #fdfdfd;
} */

.body {
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-bottom: 400px;
  margin-left: 100px;
  margin-right: 100px;
}

.simulate_area {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

.statistics {
  width: 98%;
  text-align: center;
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  border: 5px solid #7387fe;
  border-radius: 20px;
}

 tbody {
      display:block;
      max-height:500px;
      overflow-y:auto;
  }
  thead, tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  /* thead {
      width: calc( 100% - 1em )
  }  */
